<form action="mail.php" method="post">
    <div class="form-group">
        <input name="lp_header_text" type="text" class="form-control form-control" placeholder="Website Name" required>
    </div>

    <div class="form-group">
        <input name="lp_title" type="text" class="form-control form-control" placeholder="Title" required>
    </div>
    <div class="form-group">
        <input name="lp_subtitle" type="text" class="form-control form-control" placeholder="Subitle" required>
    </div>

    <div class="form-group">
        <input name="lp_main_text" type="text" class="form-control form-control" placeholder="Main text" required>
    </div> 

    <div class="form-group">
        <input name="lp_form_title" type="text" class="form-control form-control" placeholder="Form title" required>
    </div> 
    <div class="form-group">
        <input name="lp_form_subtitle" type="text" class="form-control form-control" placeholder="Form subtitle" required>
    </div>
    <div class="form-group">
        <input name="lp_form_button_text" type="text" class="form-control form-control" placeholder="Form button text" required>
    </div> 

    <button class="btn btn-danger">Save</button>
</form>