<a id="top"></a>

<%- include('../templates/default/head.ejs'); %>

<div class="row center mt-3">
    <div class="col">
        <h4>Landing page information</h4>        
    </div>
</div>


<%- include('./content-form.ejs'); %>


<%- include('../templates/default/foot.ejs'); %>