<!-- Footer section -->
<div class="card mb-3">
    <div class="card-header bg-secondary text-white">
        <a id="footer"></a>Footer
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="footerText">Text for the footer</label>
            <input name="footerText" type="text" class="form-control form-control" value="<%= page.footerText %>">
            <small id="footerTextHelp" class="form-text text-muted">Text for the footer. For example, &copy;2020 lando.com. All rigths reserved.</small>
        </div>
    </div>
</div>