<!-- Page name -->
<div class="card mb-3">
    <div class="card-header bg-secondary text-white">
        Header
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="pageName">Page name</label>
            <input name="pageName" type="text" class="form-control form-control" value="<%= page.pageName %>">
            <small id="pageNameHelp" class="form-text text-muted">The name of your website. For example, example.com or Example.</small>
        </div>
    </div>
</div>