<!-- Page url -->
<div class="card mb-3">
    <div class="card-header bg-secondary text-white">
        Page Link
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="pageUrl">Page link</label>
            <input name="pageUrl" type="text" class="form-control form-control" value="<%= page.pageUrl %>">
            <small id="pageUrlHelp" class="form-text text-muted">URL for your page. For example, example.</small>
        </div>
    </div>
</div>