<!-- References -->
<div class="card mb-3">
    <div class="card-header bg-secondary text-white">
        <a id="references"></a>References
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="referenceLine1">First line of the comment</label>
            <input name="referenceLine1" type="text" class="form-control form-control" value="<%= page.referenceLine1 %>">
            <small id="referenceLine1Help" class="form-text text-muted">The first line of your reference's comment.</small>
        </div>
        <div class="form-group">
            <label for="referenceLine2">Second line of the comment</label>
            <input name="referenceLine2" type="text" class="form-control form-control" value="<%= page.referenceLine2 %>">
            <small id="referenceLine2Help" class="form-text text-muted">The second line of your reference's comment.</small>
        </div>
        <div class="form-group">
            <label for="referenceName">Name and title</label>
            <input name="referenceName" type="text" class="form-control form-control" value="<%= page.referenceName %>">
            <small id="referenceNameHelp" class="form-text text-muted">Name and title of your reference. For example, Isaac Benitez, lando founder.</small>
        </div>
    </div>
</div>