        <div class="c-bg-gray pt-4 pb-4">
            <div class="row center">
                <div class="col-md text-dark">
                    <h1 class="mb-4"><strong>Ready to use Landing Pages</strong></h1>
                    <h3 class="mb-4">Don't design. Just type the information!</h3>

                    <p class="mb-3">You know your company better than anyone. Customize your database in house.</p>
                    
                    <p class="mb-3"><strong>You will learn:</strong></p>

                    <ul>
                        <li class="mb-3">How to use each tool available in Studio.</li>
                        <li class="mb-3">How to use many-to-many and many-to-one fields (in fact all the fields).</li>
                        <li class="mb-3">How to use the domains to use design filters.</li>
                    </ul>

                    <p class="mb-3">All the information that none has shared online before.</p>
                </div>

                <div class="col-md align-self-center text-dark">

                    <div class="card text-center p-3">
                        <div class="card-body">
                            
                            <h2>Suscribe Now</h2>
                            <p>Try if for free.</p>
                            <form action="mail.php" method="post">
                                <div class="form-group">
                                    <input name="use_name" type="text" class="form-control form-control" placeholder="Your name" required>
                                </div>
                                <div class="form-group">
                                    <input name="user_email" type="email" class="form-control form-control" placeholder="Your email" required>
                                </div> 
                                <button class="btn btn-primary btn-block text-uppercase py-3">Subscribe (free)</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row center">
            <div class="col mt-5">
                <h2 class="text-center">All the knowledge you need, within your company.</h2>
            </div>
        </div>
        <div class="row center text-center py-5">
            <div class="col-sm mb-3">
                <img class="img-fluid mb-3" width="64" src="img/views.svg" alt="Create or update your store">
                <h5 class="mb-3 text-left">Views & Forms</h5>
                <p class="text-left">
                Customize any view or form to adapt it to your business process.
                You can also create new views and forms.</p>
            </div>

            <div class="col-sm mb-3">
                <img class="img-fluid mb-3" width="64" src="img/organize.svg" alt="Create or update your store">
                <h5 class="mb-3 text-left">Organization</h5>
                <p class="text-left">Organize the information in a way that makes more senes
                    for you and your employees.</p>
            </div>

            <div class="col-sm mb-3">
                <img class="img-fluid mb-3" width="64" src="img/reports.svg" alt="Create or update your store">
                <h5 class="mb-3 text-left">Charts & Reports</h5>
                <p class="text-left">
                    Create all the charts and reports you need to make your business grow.
                </p>
            </div>

            <div class="col-sm mb-3">
                <img class="img-fluid mb-3" width="64" src="img/autonomy.svg" alt="Create or update your store">
                <h5 class="mb-3 text-left">Autonomy</h5>
                <p class="text-left">
                    Be autonomus to customize Odoo even if you are not a developer. 
                </p>
            </div>
        </div>

        <div class="row center">
            <div class="col">
                <h2 class="text-center">We cover everything!</h2>
                <p class="text-center">From the begining to the most complex topics in Odoo Studio.</p>
            </div>
        </div>

        <div class="row center py-5">
            <div class="col-sm-4 my-2" >
                <div class="card mx-auto" style="max-width: 18rem;">
                    <img class="card-img-top" src="img/fields.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Each & Every Field</h5>
                    <h6 class="card-subtitle mb-2 text-muted">No more guessing</h6>
                    <p class="card-text">We explain each and every field available in Studio to customize your database.</p>
                    <a href="#" target="_blank" class="card-link">Start now</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 my-2">
                <div class="card mx-auto" style="max-width: 18rem;">
                    <img class="card-img-top" src="img/filters.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Filters & Domain</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Understand Models</h6>
                    <p class="card-text">Lear how to use and find models and fields to get the information you need.</p>
                    <a href="#" target="_blank" class="card-link">Start now</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 my-2">
                <div class="card mx-auto" style="max-width: 18rem;">
                    <img class="card-img-top" src="img/actions.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Automated Actions</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Finally explained</h6>
                    <p class="card-text">Finally understad automated actions. Start saving time and preventing erros.</p>
                    <a href="#" target="_blank" class="card-link">Start now</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row center text-center mt-3 mb-5">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item mx-3 my-2"><img src="img/comp1.png" alt=""></li>
                    <li class="list-inline-item mx-3 my-2"><img src="img/comp1.png" alt=""></li>
                    <li class="list-inline-item mx-3 my-2"><img src="img/comp1.png" alt=""></li>
                    <li class="list-inline-item mx-3 my-2"><img src="img/comp1.png" alt=""></li>
                    <li class="list-inline-item mx-3 my-2"><img src="img/comp1.png" alt=""></li>
                    <li class="list-inline-item mx-3 my-2"><img src="img/comp1.png" alt=""></li>
                </ul>
            </div>
        </div> -->

        <div class="row center mb-5">
            <div class="col">
                <h5 class="text-center"><i>"I could not find any documentation to train my team.</i></h5>
                <h5 class="text-center"><i>These are the only high quality tutorials to learn Studio".</i></h5>
                
                <p class="text-center mt-3"><strong>Fulano de Tal, CEO of Company</strong></p>
            </div>
        </div>

        <div class="c-bg-gray pt-4 pb-4">
            <div class="row center">
                <div class="col align-self-center text-dark">
                    <div class="card mx-auto text-center p-3" style="max-width: 40rem;">
                        <div class="card-body">
                            <h2>Suscribe Now</h2>
                            <p>Get Odoo Studio video tutorials.</p>
                            <form action="mail.php" method="post">
                                <div class="form-group">
                                    <input name="use_name" type="text" class="form-control form-control" placeholder="Your name" required>
                                </div>
                                <div class="form-group">
                                    <input name="user_email" type="email" class="form-control form-control" placeholder="Your email" required>
                                </div>
                                <button class="btn btn-danger btn-block text-uppercase py-3">Subscribe (Free)</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>