        <div class="pt-3 bg-dark text-white">
            <div class="row center">
                <div class="col text-center my-auto">
                    <p>
                        <%= page.footerText %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>