        <div class="pt-3 bg-dark text-white">
            <div class="row center">
                <div class="col text-center my-auto">
                    <p>
                        &copy; 2020 odoostudioapp.com is not an official Odoo website.
                        Watch our tutorials on <a href="#" class="text-reset c-underline">Youtube</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>