        <div class="pt-3 bg-dark text-white">
            <div class="row center">
                <div class="col text-center my-auto">
                    <p>
                        <% if (typeof page !== 'undefined') { %>
                            <%= page.footerText %>
                        <% } else { %>
                            &copy;2020 abberto.com
                        <% } %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>